body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:864px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:9px;
  width:908px;
  height:864px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
