body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:864px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:9px;
  width:908px;
  height:864px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:175px;
  width:331px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:188px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:199px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:265px;
  width:298px;
  height:199px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:220px;
  width:331px;
  height:35px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121_input:disabled {
  color:grayText;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:474px;
  width:329px;
  height:37px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:511px;
  width:329px;
  height:37px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:515px;
  width:132px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 145, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:672px;
  width:298px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u126_ann {
  border-width:0px;
  position:absolute;
  left:626px;
  top:668px;
  width:1px;
  height:1px;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:26px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:149px;
  width:328px;
  height:26px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
